@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-element {
    @apply flex flex-col gap-2;
  }
  .form-label {
    @apply text-black font-semibold;
  }
  .input-box {
    @apply px-4 py-1 rounded-xl focus:ring-2 focus:ring-primary outline-none bg-secondary shadow-sm;
  }
  .btn {
    @apply bg-primary w-full rounded-xl px-2 py-1 cursor-pointer bg-opacity-70 hover:bg-opacity-100 transition-all ease-in-out duration-200 font-semibold ;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      
    }
  }

  @keyframes popper {
    0% {
      opacity: 0;
      transform: translateY(-100%) scale(0.5);
    }
    50% {
      opacity: 0.8;
      transform: translateY(0px) scale(1);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }


  .spinner {
    animation: spinner 1s linear infinite;
  }

  .popper {
    animation: popper 0.6s ease-out;
  }

}
